# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Web giới thiệu bản thân\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
